/* Layout */
body {
    font-family: libre-baskerville, sans-serif;
    background-color: #f6fbff;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color: #0b304e;
}

.calc-main {
    width: 60%;
    max-width: 580px;
    margin-left: 25%;

}

.numpad-wrap{
    margin-top: 70px;
}


.io-wrap {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    display: flex;
}

/* Dial pad grid layout */
.pad-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, minmax(20px,1fr));

}

.pad-grid div {

    font-size: 2rem;
    font-weight: bold;
    border: 0.1px solid #3700ff3a;
    border-radius: 5px;
    padding: 25px 10px;
    background-color: #eeedf5;
    text-align: center;
    color: #e96e1ce0;
}

/* Display Layout */
.input {
    background-color: #ffffffd3;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    width: 530px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid #1f65e681;

}

.io-wrap label {
    margin-left: 30px;
    font-family: calibri;
    font-size: 1.3rem;
    font-weight: bold;
    color: #0e3249e0;
}

/* Effects */
.pad-grid div:hover {
    cursor: pointer;
    background-color: #86b8da;

}

.io-wrap input:focus {

    border: #1dd6d6 5px solid;
}
