/* Layout */
body{

    font-family: Lato, sans-serif;
}


.calc-main{

    border: 2px solid black;
    width: 480px;
    height: 600px;
    max-width: 500px;
}


.io-wrap{
    border: solid 5px rgb(253, 74, 74);
    
}

.pad-grid{
    border: solid 5px blue;

}

.pad-grid div{

    font-weight: bold;
    border: 0.5px solid orange;

}
